@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    color: #2C2D35;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 100%;
}

header {
    background-color: #E1EDE6;
    height: 100px;
}

.header-content {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 165px;
    margin-right: 165px;
}

.header-logo a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #598D66;
    font-size: 20px;
    font-weight: bold;
}

.header-logo img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.header-nav {
    display: flex;
    gap: 65px;
    align-items: center;
}

.header-nav a {
    color: #2C2D35;
    font-size: 20px;
    font-weight: 500;
}

.header-nav img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}



footer {
    max-width: 100%;
    height: auto;
    background-color: #E1EDE6;
    display: flex;
    justify-content: space-around;
    padding-top: 23px;
    padding-bottom: 23px;
}

.footer-navigation {
    display: flex;
    gap: 60px;
}

.footer-repo-links {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-news-links {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-obut-links {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #598D66;
    font-size: 20px;
    font-weight: bold;
}

.footer-logo img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.footer-media {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-links {
    text-decoration: none;
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
}






.catalog {
    margin-top: 70px;
    margin-left: 165px;
    margin-right: 165px;
    margin: 70px;
}

.catalog-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.catalog-navigation-link {
    display: inline-block;
    width: 150px;
    height: 45px;
    padding: 10px;
    background-color: #598D66;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    border: none;
}

.catalog-navigation-out {
    display: inline-block;
    width: 150px;
    height: 45px;
    padding: 10px;
    background-color: #598D66;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    border: none;
}

.catalog-head-name {
    font-size: 40px;
    font-weight: 500;
}

.catalog-head-navigation {
    display: flex;
    gap: 32px;
}

.catalog-items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.catalog-items-item {
    width: 350px;
    height: 730px;
    padding: 20px;
    background-color: #E1EDE6;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.catalog-item-author {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #86928B;
}

.catalog-item-name {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #2C2D35;
}

.catalog-item-info {
    padding-bottom: 10px;
    font-size: 18px; /* Исправлено с 18x на 18px */
    font-weight: 500;
    color: #2C2D35;
}

.catalog-item-price {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #598D66;
}

.catalog-item-button {
    display: inline-block;
    width: 310px;
    height: 65px;
    padding: 21px 105px;
    background-color: #598D66;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    border: none;
}